<!--

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Country View</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
-->





<nav class="nav nav-tabs bg-light" id="myTab" role="tablist">
  <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" routerLinkActive="active current" routerLink="/home" role="tab" aria-controls="nav-home">Home</a>
  <a class="nav-item nav-link" id="nav-Shuttles-tab" data-toggle="tab" routerLinkActive="active current" routerLink="/shuttles" role="tab" aria-controls="nav-Shuttles" >Shuttles</a>
  <a class="nav-item nav-link" id="nav-Launch-pads-tab" data-toggle="tab" routerLinkActive="active current" routerLink="/launchpads" role="tab" aria-controls="nav-Launch-pads">Launch pads</a>
  <a class="nav-item nav-link" id="nav-Launches-tab" data-toggle="tab" routerLinkActive="active current" routerLink="/launches" role="tab" aria-controls="nav-Launches" >Launches</a>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
  <div class="tab-pane fade " id="nav-Shuttles" role="tabpanel" aria-labelledby="nav-Shuttles-tab">...</div>
  <div class="tab-pane fade" id="nav-Launch-pads" role="tabpanel" aria-labelledby="nav-Launch-pads-tab">...</div>
  <div class="tab-pane fade" id="nav-Launches" role="tabpanel" aria-labelledby="nav-Launches-tab">...</div>
</div>

