<div *ngIf="info && latestLaunchInfo" >

  <div style="text-align:center; padding-bottom:110px">
  <h1 class="display-1" style="color: #f5fff6"> SPACE X </h1>
</div>
  <div class="container container-fluid">
    <div class="row">
    <div class="col-lg-8">
    <div class="jumbotron">
      <h1 class="display-3"> {{info.name}} </h1>
      <p>Founded: {{info.founded}} | </p>
      <p>Founder/CEO/COO: {{info.ceo}} | </p>
      <p>Employees: {{info.employees}} | </p>
      <p>Vehicles: {{info.vehicles}} | </p>
      <p>Launch Sites: {{info.launch_sites}} | </p>
      <p>Test Sites: {{info.test_sites}} | </p>
      <p>CTO Propulsion: {{info.cto_propulsion}}</p> <br>
      <p>Valuation: {{info.valuation}}</p> <br>
      <p>Headquarters: {{info.headquarters.address}},{{info.headquarters.city}},{{info.headquarters.state}}.</p> <br>
      <p class="lead">{{info.summary}}</p>
      <h3 class="display-5">  </h3>
    </div>
  </div>
  <!-- <div align="right">
     <img src="https://streak.club/img/dXBsb2Fkcy9pbWFnZS81OTI5LmdpZg==/600x/7Q1%2FE2.gif" width="1229." height="400">
   </div>-->
      <div class="col-lg-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Latest </h4>
      <h6 class="card-subtitle mb-2 text-muted">launch information</h6>
      <a routerLink="/shuttle" class="card-link" (click)="onSelectL(latestLaunchInfo.rocket.rocket_id)" >
        <p class="card-text"> Rocket Name: {{latestLaunchInfo.rocket.rocket_name}}</p><br></a>
      <p class="card-text"> Flight Number: {{latestLaunchInfo.flight_number}}</p><br>
      <p class="card-text"> Launch Year: {{latestLaunchInfo.launch_year}}</p><br>
      <p class="card-text"> Launch Date Local: {{latestLaunchInfo.launch_date_local}}</p><br>
      <a routerLink="/launchpads" class="card-link" (click)="onSelect(latestLaunchInfo.launch_site.site_id)" >
        <p class="card-text"> LaunchPad Name: {{latestLaunchInfo.launch_site.site_name}}</p><br><br></a>
      <a routerLink="/launches" class="card-link" > <button type="button" class="btn btn-dark">View all launch details</button></a>
    </div>
  </div>

</div>
  </div>
</div>
</div>
