<div  style="text-align:center">
  <h1  class="display-1" style="color: #f5fff6" > SPACE X </h1>
</div>
<div class="row">
<div  class="card" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">Latest </h4>
    <h6 class="card-subtitle mb-2 text-muted">launch information</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div align="right">
  <img src="https://streak.club/img/dXBsb2Fkcy9pbWFnZS81OTI5LmdpZg==/600x/7Q1%2FE2.gif" width="1229." height="400">
</div>
</div>

